---
layout: blog
---

<section class="blog-section padding "></section>
<div class="container col-lg-12">
  <div class="blog-wrap row col-lg-12">
    <div class="col-lg-12 mx-auto sm-padding">
      <div class="row col-lg-12">

        {% set postslist = collections.post %}

        {% for post in postslist | reverse %}

        <div class="col-lg-8 mx-auto padding-15">
          <div class="blog-item box-shadow">
            <div class="blog-thumb">
              <img src="../static/img/post-1.jpg" alt="post" />
              <span class="category"><a href="#">interior</a></span>
            </div>
            <div class="blog-content">
              <h3>
                <a href="{{ post.url | url }}">
                  
                  {% if post.data.title %}
                      {{ post.data.title }}
                  {% else %}
                      Untitled
                  {% endif %}</a>
              </h3>
              {% if post.data.description %}
              <p>
                {{ post.data.description }}
              </p>
              {% endif %}
              <a href="{{ post.url | url }}" class="read-more">Read More</a>
            </div>
          </div>
        </div>
{% endfor %}
       
      </div>
     
    </div>
   
  </div>
</div>
</section>

