<section class="widget-section padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-sm-6 sm-padding">
          <div class="widget-content">
            <a href="#"><img src="../static/img/logo-light.png" alt="brand" /></a>
            <p>
              For us metal works is art, we will take your dream and make it a
              reality!
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 sm-padding">
          <div class="widget-content">
            <h4>Company</h4>
            <ul class="widget-links">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Our Services</a></li>
              <li><a href="#">Clients Reviews</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6 sm-padding">
          <div class="widget-content">
            <h4>Our Location</h4>
            <p>Watford, UK</p>
            <span>email@4metal-ltd.co.uk</span>
            <span>00000000000</span>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 sm-padding">
          <div class="widget-content">
            <h4>Our Offer</h4>
            <p>We offer the best services <br />on the London's market!.</p>
            <div class="subscribe-box clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="footer-section align-center">
    <div class="container">
      <p><a href="#">Developed by Maciej Myszczynski</a></p>
    </div>
  </footer>
  <a data-scroll href="#header" id="scroll-to-top"
    ><i class="arrow_carrot-up"></i
  ></a>